.blinkContainer {
    /* overflow: hidden; */
    position: relative;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}