#root {
  max-width: 100%;
  /* 撑满浏览器宽度 */
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  /* 移除内边距 */
  text-align: center;
}

@font-face {
  font-family: 'rubik-one';
  src: url('/fonts/RubikOne-Regular.ttf') format('truetype');
}